.driver-requirements-container {
    background-color: #c9e8ec;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
}

.driver-container {
    margin-top: 100px;
}

.driver-requirements-section {
    background-color: #c9e8ec;
    margin-bottom: 0;
}

.driver-requirements-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.driver-requirements-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.requirements-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.requirements-list li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.signup-button-section {
    text-align: center;
    margin-top: 20px;
    background-color: #c9e8ec;
    margin: 0;
    padding: 0;
}

.signup-button {
    background-color: #259ba9;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0;
    margin-bottom: 30px;
}

.signup-button:hover {
    background-color: #d4ade9;
}

body {
    margin: 0;
    padding: 0;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .driver-requirements-container {
        padding: 15px;
    }

    .driver-requirements-container h2 {
        font-size: 22px;
    }

    .driver-requirements-container p {
        font-size: 14px;
    }

    .requirements-list li {
        font-size: 14px;
    }

    .signup-button {
        width: 100%;
        font-size: 14px;
        padding: 12px 20px;
    }
}

@media screen and (max-width: 480px) {
    .driver-requirements-container {
        padding: 10px;
    }

    .driver-requirements-container h2 {
        font-size: 20px;
    }

    .driver-requirements-container p {
        font-size: 12px;
    }

    .requirements-list li {
        font-size: 12px;
    }

    .signup-button {
        font-size: 12px;
        padding: 10px 15px;
    }
}
