
  

.user-selection{
  height:100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url("C:\Users\happy\OneDrive\Desktop\react carpooling\Task-5\carpooling\src\assets\Desktop - 4 (1).png");
  background-repeat: no-repeat;
  background-size: cover;

}

.user-selection-container {
  background-color:#f6f9f9;  
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; 
  margin: 0 auto; 
  text-align: center;
  margin-top: 220px;
  margin-right:100px ;
  margin-bottom: 30%;
  
  border-radius: 50px;
}

.user-selection-content h2 {
  font-size: 40px;
  font-weight: bold;
  
  color: #333;
}

.user-selection-buttons {
  display: flex;
  margin-top: 15%;
  flex-direction: column;
  gap: 30px;  
}

.selection-button {
  padding: 15px 25px;
  font-size: 18px;
  background-color: #82d8f0;  
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;  
  max-width: 300px; 
  margin: 0 auto; 
}

.selection-button:hover {
  background-color: #53bee4;  
  transform: scale(1.05);  
}

.selection-button:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
}


@media screen and (max-width: 600px) {
  .user-selection-container {
    padding: 20px;  
    margin-top: 20px;
  }

  .selection-button {
    font-size: 16px;  
    padding: 12px 20px;
  }
}
